@import "mixins/mixins";
@import "mixins/utils";
@import "mixins/button";
@import "common/var";

@include b(radio) {
  color: $--radio-font-color;
  font-weight: $--radio-font-weight;
  line-height: 1;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: $--font-size-base;
  margin-right: 30px;
  @include utils-user-select(none);

  @include when(bordered) {
    padding: $--radio-bordered-padding;
    border-radius: $--border-radius-base;
    border: $--border-base;
    box-sizing: border-box;
    height: $--radio-bordered-height;

    &.is-checked {
      border-color: $--color-primary;
    }

    &.is-disabled {
      cursor: not-allowed;
      border-color: $--border-color-lighter;
    }

    & + .lx-radio.is-bordered {
      margin-left: 10px;
    }
  }

  //   @include m(medium) {
  //     &.is-bordered {
  //       padding: $--radio-bordered-medium-padding;
  //       border-radius: $--button-medium-border-radius;
  //       height: $--radio-bordered-medium-height;
  //       .el-radio__label {
  //         font-size: $--button-medium-font-size;
  //       }
  //       .el-radio__inner {
  //         height: $--radio-bordered-medium-input-height;
  //         width: $--radio-bordered-medium-input-width;
  //       }
  //     }
  //   }
  //   @include m(small) {
  //     &.is-bordered {
  //       padding: $--radio-bordered-small-padding;
  //       border-radius: $--button-small-border-radius;
  //       height: $--radio-bordered-small-height;
  //       .el-radio__label {
  //         font-size: $--button-small-font-size;
  //       }
  //       .el-radio__inner {
  //         height: $--radio-bordered-small-input-height;
  //         width: $--radio-bordered-small-input-width;
  //       }
  //     }
  //   }
  //   @include m(mini) {
  //     &.is-bordered {
  //       padding: $--radio-bordered-mini-padding;
  //       border-radius: $--button-mini-border-radius;
  //       height: $--radio-bordered-mini-height;
  //       .el-radio__label {
  //         font-size: $--button-mini-font-size;
  //       }
  //       .el-radio__inner {
  //         height: $--radio-bordered-mini-input-height;
  //         width: $--radio-bordered-mini-input-width;
  //       }
  //     }
  //   }

  &:last-child {
    margin-right: 0;
  }
}
